<!DOCTYPE html>
<head>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        .content{
            width: 25rem;
        }
        img{
            display: block;
        }
        span{
            margin: 1rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        a{
            background-color: #5657ab;
            padding: 1rem;
            border-radius: 0.5rem;
            text-decoration: none;
            color: #ffff;
            font-weight: bold;
            margin: 1.3rem 0;
            display: block;
            width: 7rem;
            text-align: center;

        }
        a:hover{
            background-color: #6668d8;
        }

        @media (max-width: 576px) {
            .content{
                width: 25rem;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <span class="align-image">
            <img src="https://i.imgur.com/P3zcKps.png" alt="logo todo">
        </span>

        <div class="content">
            <p>
                <span>Olá <strong>{{name}}</strong>,</span>
    
                <span>Você solicitou uma nova senha para a conta '{{email}}' no sistema de tarefas</span>
                <span>Você pode redefinir sua senha clicando no botão abaixo:</span>
            
                <a href="{{link}}">Redefinir</a>

                <span>
                    Atenciosamente,<br>
                    A equipe da <strong>Todo!</strong>
                </span>
            </p>
        </div>
      
    </div>
</body>
</html>