<!DOCTYPE html>
<head>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        .container{
            font-family: Arial, Helvetica, sans-serif; 
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }
        .content{
            width: 25rem;
        }
        img{
            display: block;
        }
        span{
            margin: 1rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        a{
            background-color: #5657ab;
            padding: 1rem;
            border-radius: 0.5rem;
            text-decoration: none;
            color: #ffff;
            font-weight: bold;
            margin: 1.3rem 0;
            display: block;
            width: 7rem;
            text-align: center;

        }
        a:hover{
            background-color: #6668d8;
        }

        @media (max-width: 576px) {
            .content{
            width: 24rem;
        }
    }

    </style>
</head>
<body>
    <div class="container">
        <header class="header-image">
            <img src="https://i.imgur.com/P3zcKps.png" alt="logo todo">
        </header>

        
        <div class="content">
            <p>
                <span>Olá <strong>{{name}}</strong>,</span>
    
                <span>Obrigado por registrar em nosso sistema de tarefas Todo!</span>
                <span>Precisamos de mais algumas informações para concluir seu registro, incluindo uma confirmação do seu endereço de e-mail.</span>
                <span>Clique no botão abaixo para confirmar seu endereço de e-mail:</span>
            
                <a href="{{link}}">Confirmar</a>
                
                <span>
                Atenciosamente, <strong>Todo!</strong>
                </span>
            </p>
        </div>
        
    </div>
</body>
</html>